h3
{ color:blue;}

h1
{ color: brown;}


p.phoneColor{
    color: blue;
}


h2.phoneColor{
    color:black;
}

body{
    background-image: url(whitebg.jpg);
    background-repeat:no-repeat;
    width: 835px;
    height: 547px; }
